{{ form_start(contactForm) }}
{{ form_errors(contactForm) }}
{{ form_errors(contactForm) }}
{{ form_widget(contactForm._token) }}
<div class="col-md-6">
    <div class="form-floating">
        {{ form_row(contactForm.name, {
            'attr': {'class': 'form-control', 'placeholder': 'Votre nom'},
            'label_attr': {'class': 'form-label'}
        }) }}
    </div>
</div>

<div class="col-md-6">
    <div class="form-floating">
        {{ form_row(contactForm.email, {
            'attr': {'class': 'form-control', 'placeholder': 'Votre email'},
            'label_attr': {'class': 'form-label'}
        }) }}
    </div>
</div>

<div class="col-12">
    <div class="form-floating">
        {{ form_row(contactForm.subject, {
            'attr': {'class': 'form-control', 'placeholder': 'Sujet'},
            'label_attr': {'class': 'form-label'}
        }) }}
    </div>
</div>

<div class="col-12">
    <div class="form-floating">
        {{ form_row(contactForm.message, {
            'attr': {'class': 'form-control', 'style': 'height: 100px', 'placeholder': 'Laissez un message ici'},
            'label_attr': {'class': 'form-label'}
        }) }}
    </div>
</div>

<div class="col-12">
    <!-- Ajout de la case à cocher pour le consentement -->
    <div class="form-check">
        {{ form_row(contactForm.consent) }}
    </div>

    <!-- Ajout du texte explicatif -->
    <p class="small-text">* Champ obligatoire</p>
    <p class="small-text">
        En soumettant ce formulaire, j'accepte que mes données personnelles soient utilisées pour me recontacter.
        Aucun autre traitement ne sera effectué avec mes informations.
        Pour connaître et exercer vos droits, veuillez consulter
        notre <a href="{{ path('app_politique') }}">Politique de confidentialité</a>.
    </p>
</div>

<div class="col-12">
    <button class="btn btn-primary py-3 px-5" type="submit">
        Envoyer le message
    </button>
</div>

{{ form_end(contactForm, { render_rest: false }) }}