<div class="container-xxl py-6 pt-5" id="project">
    <div class="container">
        <div class="row g-5 mb-5 align-items-center wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-6">
                <h1 class="display-5 mb-0">Mes réalisations</h1>
            </div>
            <div class="col-lg-6 text-lg-end">
                <ul class="list-inline mx-n3 mb-0" id="portfolio-flters">
                    <li class="mx-3 active" data-filter="*">Tous</li>
                    <li class="mx-3" data-filter=".first">PHP / Symfony</li>
                    <li class="mx-3" data-filter=".second">WordPress</li>
                </ul>
            </div>
        </div>
        <div class="row g-4 portfolio-container wow fadeInUp" data-wow-delay="0.1s">
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="{{ asset('assets/img/blog_2000x2000.jpg') }}" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{ asset('assets/img/blog_2000x2000.jpg') }}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1 disabled" href=""><i class="fa fa-link"></i></a>
                        <P class="text-white">Migration en cours d’un blog développé en PHP vers une architecture plus performante sous Symfony, avec optimisation de la gestion des données et amélioration de la sécurité.</P>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="{{ asset('assets/img/chalets_et_caviar_2000x2000.jpg') }}" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{ asset('assets/img/chalets_et_caviar_2000x2000.jpg') }}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1 disabled" href=""><i class="fa fa-link"></i></a>
                        <P class="text-white">Migration de Châlets et Caviar, un site WordPress vers une version plus performante, avec mise à jour des plugins, amélioration de la sécurité, et optimisation de la vitesse de chargement pour une meilleure expérience utilisateur.</P>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="{{ asset('assets/img/snowtricks_2000x2000.jpg') }}" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{ asset('assets/img/snowtricks_2000x2000.jpg') }}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1 disabled" href=""><i class="fa fa-link"></i></a>
                        <P class="text-white">Refonte complète de l’application Snowtricks pour optimiser les performances, intégrer une gestion avancée des médias et améliorer la compatibilité mobile.</P>
                    </div>
                </div>
            </div>
           {# <div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-4.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-4.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>#}
            <div class="col-lg-4 col-md-6 portfolio-item first">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="{{ asset('assets/img/marketdigidoc_2000x2000.jpg') }}" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="{{ asset('assets/img/marketdigidoc_2000x2000.jpg') }}" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1 disabled" href=""><i class="fa fa-link"></i></a>
                        <P class="text-white">Refonte de l’application Marketdigidoc, axée sur l'amélioration de la gestion électronique des documents, la sécurité des données et l’intégration de fonctionnalités de collaboration en temps réel.</P>
                    </div>
                </div>
            </div>
            {#<div class="col-lg-4 col-md-6 portfolio-item second">
                <div class="portfolio-img rounded overflow-hidden">
                    <img class="img-fluid" src="img/project-6.jpg" alt="">
                    <div class="portfolio-btn">
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href="img/project-6.jpg" data-lightbox="portfolio"><i class="fa fa-eye"></i></a>
                        <a class="btn btn-lg-square btn-outline-secondary border-2 mx-1" href=""><i class="fa fa-link"></i></a>
                    </div>
                </div>
            </div>#}
        </div>
    </div>
</div>